
.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table-dark {
    color: #fff;
    background-color: #212529;
}


.table-borderless tbody+tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
    border: 0;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #32383e;
}

.container{
    background-color: #536dfe;
    text-align: right;
    width: auto;
    height: 50px;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
}

#Salir{
    position: relative;
    right: 15px;
}

.Reservar{
    margin-top: 20px; 
    font-size: 20px;
    position: relat¡;
    left: 550px;
    width: 200px;
    color: #FFF;
    background-color: #9c27b0;
}

.reservasContainer{
    width: auto;
    height: 550px;
    margin-top: 20px;
}

.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}

.flexsearch--form {
	overflow: hidden;
	position: relative;
}

.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
    width: 10%;
    position: relative;
    float: left;
    margin-left: 0px;
  }

  .flexsearch {
    padding: 0 25px 0 25px; /* Padding for other horizontal elements */
  }

  .flexsearch--input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 30px;
    padding: 0 46px 0 10px;
    border-color: #888;
    border-radius: 17px; /* (height/2) + border-width */
    border-style: solid;
    border-width: 2px;
    margin-top: 15px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
    font-size: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .flexsearch--submit {
    position: relative;
    left : -50px;
    top: -18px;
    display: block;
    width: 30px;
    height: 60px;
    padding: 0;
    border: none;
    margin-top: 20px; /* margin-top + border-width */
    margin-right: 5px; /* border-width */
    background: transparent;
    color: #888;
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;
    line-height: 60px;
  }

  .flexsearch--input:focus {
    outline: none;
    border-color: #333;
  }
  
  .flexsearch--input:focus.flexsearch--submit {
       color: #333; 
  }
  
  .flexsearch--submit:hover {
    color: #333;
    cursor: pointer;
  }
  
  ::-webkit-input-placeholder {
      color: #888;  
  }
  
  input:-moz-placeholder {
    color: #888
  }
  