<div>
  <div class="container">
      <button id ="Registrar" [routerLink] = "['/registrar']">
        Registrar 
      </button>
      <button id = "Salir" [routerLink] ="['/']">
          Salir
      </button>
  </div>
  <a [routerLink]= "['hacer']">
    <button class="Reservar">
      Hacer reserva
    </button>
  </a>
  <div class = "reservasContainer">
    <div class="flexsearch">
      <div class="flexsearch--wrapper">
        <form class="flexsearch--form" action ="#" method="post">
          <div class ="flexsearch--input-wrapper"> 
            <input class="flexsearch--input" type="search" placeholder="search">
            <input class="flexsearch--submit" type="submit" value="&#10140;"/>
          </div>
        </form>
      </div>
    </div>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Aula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Codigo</th>
      <th scope="col">Horario</th>
      <th scope="col">Cancelar</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
  </div>
</div>