<body class="text-center">
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal" Inicie Sesión>
      </h1>
      <label id= "labelregist">
        Nombre
      </label>
      <input id ="input_nombre" class="form-control" placeholder="Nombre Completo" required autofocus>
      <label id= "labelregist">
        Correo Electronico
      </label>
      <input #inputEmail type="email" id ="input_Email" class="form-control" placeholder="Correo" required>
      <label id= "labelregist">
        Contraseña
      </label>
      <input #inputPassword type="password" id="input_Password" class="form-control" placeholder="Contraseña" required >
      <label id= "labelregist">
        Confirmar Contraseña
      </label>     
      <input #inputPassword type="password" id="input_Password_confirm" class="form-control" placeholder="Contraseña" required >
      <a>
        <button class="btn btn-lg btn-primary btn-block" id= "regist" type="submit" >
          Registrar
        </button>
      </a>
      <p class="mt-5 mb-3 text-muted">
          © 2017-2018
      </p>
    </form>
  </body>