<title> Inicio Sesion</title>
<body > 
    <div class ="logocontainer">
        <img id = "logo" src= "\assets\logo.jpg">
    </div>
    <header id="cabetitulo">
    </header>
    <div class="container">
        <a class="headerRemi">
            RE-MI
        </a>
    </div>
    <div class= logincontainer>
        <img class= "fondo" src= "\assets\Fondo.jpg">
        <hr>
        <div>
            <div class="piepagina1">
                <a>
                    nunca fue tan facil reservar
                </a>
            </div>
        </div>
    </div>
</body>